body {
    background-color: #1F1D3F;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
  }
  
  header h1 {
    text-align: center;
    color: #B28FFF;
  }
  
  main {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }
  
  .back-arrow {
    color: #B28FFF;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
  }
  
  section h2 {
    text-align: center;
    color: #B28FFF;
    margin-top: 0;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
  }
  
  footer {
    background-color: #5B5B5B;
    bottom: 0;
    padding: 20px;
    position: absolute;
    width: 100%;
    color: #FFFFFF;
  }
  